<div class="header" ng-controller="LastFmController">
  <div class="row">
    <form ng-submit="submit()">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">Username: </span>
        <input type="text" class="form-control" placeholder="Please enter your last fm username" ng-model="username">
        <input type="submit" value="submit" class="hidden">
      </div>
    </form>
  </div>
</div>

<span class="spinner" ng-show="loading"></span>

<div class="photos lastfm row" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
  <div class="col-md-4" ng-repeat="artist in artists" ng-click="instagram(artist.name)">
    <div>
      <img ng-src="{{artist.image[4]['#text']}}">
    </div>
    <h4>{{artist.name}}</h4>
    <span>{{artist.playcount}} plays</span>
  </div>
</div>

<div class="alert alert-danger" ng-show="!loading && !homepage && !artists.length">Sorry, this username doesnt exist.</div>
